@media (min-width: 768px) {
    header {
      justify-content: space-around;
    }
  
    main {
      display: flex;
      flex-wrap: wrap;
    }
  
    #hero img {
      width: 50%;
    }
  
    .spotlight {
      flex: 1 0 30%;
      margin: 10px;
    }
  }
  